<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Início</a></li>
                <li><a href="{{url_for('novo_aluno')}}">Novo Aluno</a></li>
                <li><a href="{{url_for('novo_curso')}}">Novo Curso</a></li>
                <li><a href="{{url_for('editar')}}">Editar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
            
        {% endblock %}
    </main>
</body>
</html>