<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('cadastro') }}">Cadastro</a>
            <a href="{{ url_for('login') }}">Login</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('votacao') }}">Página de Votação</a>
                <a href="{{ url_for('resultados') }}">Página de Resultados</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block conteudo %}
            
        {% endblock %}
    </main>
</body>
</html>