{% extends 'base.html' %}

{% block title %}
    Página Inicial
{% endblock %}

{% block content %}
    <h1>Olá!</h1>
    {% include 'components/messages.html'   %}
    {% if current_user.is_authenticated %}
        {% if times %}
            <div class="times">
                <h2>Meus times</h2>
                <ul>
                    {% for time in times %}
                        <li>{{time.nome}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        <p>Faça cadastro ou login!</p>
    {% endif %}
{% endblock %}